.map-container {
    width: 100%;
    max-width: 1300px;
    height: 550px;   
    margin: 0 auto;
}




#map {
    width: 100%;
    height: 100%;
}
.map-title {
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
    font-size: 28px;
    color: green ;
}
