# Server
PORT=3001
CORS_ORIGIN=http://127.0.0.1:5500

# PostgreSQL / PostGIS
DATABASE_URL=postgresql://username:password@host:5432/database?sslmode=require

# Optional schema/table
DB_SCHEMA=public
PROTECTED_AREAS_TABLE=protected_area_vn
PROVINCES_TABLE=provinces
EDIT_LOGS_TABLE=edit_logs
